<%- include('layout/header.ejs') %>
    <section class="main-container">
        <div class="restaurants-container">
            <div class="num-per-page-div sidebar">
                <form action="/restaurants" method="GET">
                    <p>How many items you want to display?</p>
                    <input type="radio" id="radio1" name="perPage" value="5" <%=perPage==5 ? "checked" : "" %>>
                    <label for="radio1">5</label><br>
                    <input type="radio" id="radio2" name="perPage" value="10" <%=perPage==10 ? "checked" : "" %>>
                    <label for="radio2">10</label><br>
                    <input type="radio" id="radio3" name="perPage" value="20" <%=perPage==20 ? "checked" : "" %>>
                    <label for="radio3">20</label><br>
                    <hr>
                    <input type="text" id="boroughSearch" name="borough" placeholder="borough"
                        value="<%= borough || '' %>">
                    <label for="boroughSearch">Borough</label>
                    <br><br>
                    <input type="hidden" name="page" value="<%= page %>">
                    <button class="btn btn-outline-success" type="submit" value="Submit">Search</button>
                </form>
            </div>
            <div class="list-div">
                <div class="list-group">
                    <% if (!data || data.length===0) { %>
                        <div>No results found</div>
                        <% } else { %>
                            <input type="hidden" id="restaurantsData" value='<%- JSON.stringify(data).replace(/'/g, "&apos;") %>'>
                            <% for(let i=0; i < data.length; i++) { %>
                                <a href="/restaurants/<%= data[i]._id %>"
                                    class="list-group-item list-group-item-action">
                                    <div class="restaurant-item">
                                        <img class="list-item-img"
                                            src="/assets/<%= Math.floor(Math.random() * 10) + 1 %>.jpeg" alt="">
                                        <div class="list-item-content">
                                            <h5 class="restaurant-item-name">
                                                <%= data[i].name %>
                                            </h5>
                                            <p>
                                                <%= data[i].address.building %>
                                                    <%= data[i].address.street %>
                                                        <%= data[i].address.zipcode %>
                                            </p>
                                            <p>
                                                <%= data[i].borough %>
                                            </p>
                                            <p>
                                                <%= data[i].cuisine %>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <% } %>
                                    <% } %>

                </div>
                <div class="page-navbar">
                    <div class="page-navbar">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <% let startPage=Math.floor((page - 1) / 10) * 10 + 1; let endPage=startPage + 9; let
                                    pageNum=parseInt(page) %>

                                    <% if (pageNum> 1) { %>
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="?page=<%= pageNum - 1 %>&perPage=<%= perPage %>&borough=<%= borough %>">Pervious</a>
                                        </li>
                                        <% } %>

                                            <% for (let i=startPage; i <=endPage; i++) { %>
                                                <% if (i===pageNum) { %>
                                                    <li class="page-item active">
                                                        <a class="page-link"
                                                            href="?page=<%= i %>&perPage=<%= perPage %>&borough=<%= borough %>">
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } else { %>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                                href="?page=<%= i %>&perPage=<%= perPage %>&borough=<%= borough %>">
                                                                <%= i %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <% } %>

                                                                <li class="page-item">
                                                                    <a class="page-link"
                                                                        href="?page=<%= pageNum + 1 %>&perPage=<%= perPage %>&borough=<%= borough %>">Next</a>
                                                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-container">
            <div id="map"></div>
        </div>
    </section>
    <%- include('layout/footer.ejs') %>